<%- include partials/header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<h1>About</h1>
<div class="jumbotron">
  <div class="container">
    <p>
      Xavier is currently a second-year programming student at Centennial
      College.
    </p>
    <a
      href="https://drive.google.com/file/d/178dVIJ1RlDg5cDtm1SLOUvqgbse49vxq/view?usp=sharing"
      class="myButton"
      >My Resume</a
    >
  </div>
</div>

<%- include partials/footer.ejs %>
