<%- include partials/header.ejs %>

<h1>Contact</h1>
<div class="jumbotron">
  <div class="container">
    <p>
      Here is my email for contact <br />Email:
      <a href="mailto:xavierzhang@live.ca">xavierzhang@live.ca</a>
    </p>
  </div>
</div>

<%- include partials/footer.ejs %>
